.offered-container {
  position: absolute;
  width: 100%;
  max-width: 1260px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  top: 80%;
}
.offered {
  padding: 10px;
  background: #fff;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.offered:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
