/* img background */
.contact {
  background-image: url("../../../public/Images/contact/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1260px;
  padding-top: 100px;
}

.contact-contents {
  align-self: flex-start;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  padding-top: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-contents h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.contact-contents h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.contact-contents h4 {
  font-size: 1.3rem;
  font-weight: lighter;
  margin-bottom: 20px;
}
.call {
  background: #fff;
  color: blue;
  font-size: 2rem;
  border-radius: 50%;
  padding: 20px;
}
