/* img background */
.contact {
  background-image: url("../../../public/Images/contact/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1260px;
  padding-top: 100px;
}

.contact-contents {
  align-self: flex-start;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  padding-top: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-contents h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.contact-contents h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.contact-contents h4 {
  font-size: 1.3rem;
  font-weight: lighter;
  margin-bottom: 20px;
}
.call {
  background: #fff;
  color: blue;
  font-size: 2rem;
  border-radius: 50%;
  padding: 20px;
}
.statistics {
  position: absolute;
  bottom: -50px;
  right: 100px;
  padding: 10px 20px;
  background-image: url("https://i.pinimg.com/564x/e6/e6/14/e6e614f848dc2c13f6f068efd2a9eb5d.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.statistics div {
  line-height: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 120px;
}
.statistics h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.statistics p {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}
